ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ion-slide {
    height: 100%;
    object-fit: fill;
}

ion-slides {
    height: 100%;
    object-fit: fill;
}

ion-card ion-text {
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    left: 0;
    padding: 2vh;
    width: 100%;
    text-align: center;
    z-index: 666;
    font-size: large;
}

.opcoes ion-icon {
    padding: 1vw;
}

.opcoes ion-col:last-child {
    display: flex;
    justify-content: flex-end;
}

.classificacao {
    padding-top: 2vh;
}