<ion-content>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Placa</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Observação</ion-label>
    <ion-textarea placeholder="exemplo: estou levando carga especial"></ion-textarea>
  </ion-item>
</ion-content>
<app-footer-button color="primary" (clicked)="0;">
  <ion-text>ENVIAR</ion-text>
</app-footer-button>