ion-card {
    position: fixed;
    top: 50%;
    transform: translate(0px, -50%);
    margin: auto;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
